@{
    ViewBag.Title = "Login";
        //Layout = "~/Views/Shared/_LogIn.cshtml";
        //Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@*@if (ViewBag.Message != null)
{
    <script>
        $(document).ready(function () {
            alert('@ViewBag.Message');
        });
    </script>
}*@
<div class="wrapper form-signin" style="margin-top: 10%">
    @* <form class="form-signin">*@
    @using (Html.BeginForm("loginform", "Login", FormMethod.Post))
    {
        
        <div class="imgcontainer">
            <img src="~/Content/themes/base/images/SalesLogo.png" alt="Avatar" class="avatar" />
        </div>
        
        <div style="width: 100%">
            <label  style="color: brown;font-size:3em;text-align:center; display:block;font-weight:bold;">Simplr Sales</label>
            <br />
            <input type="text" placeholder="Enter Username" id="uname" name="uname" style="width: 100%; height: 5%;" required>
            <div style="height: 1%"></div>

            <input type="password" placeholder="Enter Password" id="psw" name="psw" style="width: 100%; height: 5%;" required>
            <div style="height: 1%"></div>

            <button type="submit" onclick="AssignSystemListDeviceSystemList();">Login</button>
            <label>
                @*<p>
                    <input type="checkbox" checked="checked" name="remember">
                    Remember me
                </p>*@
            </label>
            <label id="InvaildMsg" style="color: red"></label>

        </div> 
    }
    @* </form>*@

</div>

@*<link href="~/Content/Dynamic.css" rel="stylesheet" />*@

<style>
     .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }


         button {
            background-color: #002684;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

    @@import "bourbon";

    body {
        background: #eee !important;
    }

    .wrapper {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .form-signin {
        max-width: 380px;
        padding: 15px 35px 45px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.1);
    }
        .form-signin-heading, .checkbox

    {
        margin-bottom: 30px;
    }

    .checkbox {
        font-weight: normal;
    }

    .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
       @* @include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}*@
    }

    input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

  /@*  }*@
</style>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/Main/FormConfig.js"></script>
<script type="text/javascript">
    // debugger;
    if ('@ViewBag.Message' != '') {
        $('#InvaildMsg').text('@ViewBag.Message');
        // alert('@ViewBag.Message');
    }

    var url_ActionConfig = '@Url.Content("~/Common/ActionConfig")';
    var url_AssignSLandDSL = '@Url.Content("~/LogIn/AssignSLandDSL")';
    var url_GetSystemList = '@Url.Content("~/LogIn/GetSystemList")';
    var url_GetDeviceSystemList = '@Url.Content("~/LogIn/GetDeviceSystemList")';
    ActionConfigEvent("", "", "Login", "", "formTextboxfocus");
    $("#" + returnData).focus();

    var _objData = {};

    function AssignSystemListDeviceSystemList() {
        GetList(url_GetSystemList);
        GetList(url_GetDeviceSystemList);
        GetList(url_AssignSLandDSL);
    }

    function GetList(url) {
        $.ajax({
            type: 'POST',
            url: url,
            async: false,
            data: { ObjData: JSON.stringify(_objData) },
            dataType: 'json',
            success: function (data) {
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        _objData[data[i].Code] = data[i].SystemValue;
                    }
                }
            }
        });
    }
</script>
