@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    var url_DDGetActionConfigData = '@Url.Content("~/ActionConfig/DDGetActionConfigData/")';

    var url_ExecuteInsertUpdateQuery = '@Url.Content("~/Common/ExecuteInsertUpdateQuery/")';
    var url_WMSLoadPickingReport = '@Url.Content("~/VehicleAssignment/WMSLoadPickingReport/")';
    var url_LoadPickingReport = '@Url.Content("~/VehicleAssignment/LoadPickingReport/")';
    var url_LoadConsolidatedReport = '@Url.Content("~/VehicleAssignment/LoadConsolidatedReport/")';
    var url_LoadConsolidatedReport1 = '@Url.Content("~/VehicleAssignment/LoadConsolidatedReport1/")';
    var url_LoadInvoiceReport = '@Url.Content("~/VehicleAssignment/LoadInvoiceReport/")';
    var url_LoadInvoiceReport_POC = '@Url.Content("~/VehicleAssignment/LoadInvoiceReport_POC/")';
    var url_printReport = '@Url.Content("~/VehicleAssignment/printReport/")';

    // COMMENTED 20.11.2020
    var url_printReport_POC = '@Url.Content("~/VehicleAssignment/printReport_POC/")';

    var url_printReportJSU = '@Url.Content("~/VehicleAssignment/printReportJSU/")';
    var url_printReportPVM = '@Url.Content("~/VehicleAssignment/printReportPVM/")';
    var url_printReportEtika = '@Url.Content("~/VehicleAssignment/printReportEtika/")';
    var url_GetCreateManifest = '@Url.Content("~/VehicleAssignment/GetCreateManifest/")';
    var url_CalculateVehicles = '@Url.Content("~/VehicleAssignment/CalculateVehicles/")';
    var url_StockVarianceCreateExcel = '@Url.Content("~/VehicleAssignment/StockVarianceCreateExcel/")';
    var url_CreateInvoiceReport = '@Url.Content("~/VehicleAssignment/CreateInvoiceReport/")';
    var url_CreateInvoiceReportJSU = '@Url.Content("~/VehicleAssignment/CreateInvoiceReportJSU/")';
    var url_CreateInvoiceReportPVM = '@Url.Content("~/VehicleAssignment/CreateInvoiceReportPVM/")';
    var url_GetInvoiceReportCount = '@Url.Content("~/VehicleAssignment/GetInvoiceReportCountOne/")';

    var Interval_Time = '@ViewBag.IntervalTime';


</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
@*<script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyC5XH-ALvr81IiuEDWekI2k91ujPeZL864"></script>*@
<script>
    //alert("<script src=\"https://maps.googleapis.com/maps/api/js?sensor=false&key=" + '@ViewBag.Google_APIKey' + "\" ><\/script>");
    document.write("<script src=\"https://maps.googleapis.com/maps/api/js?sensor=false&key=" + '@ViewBag.Google_APIKey' + "\" ><\/script>");
</script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div id="popupdialog" title="Basic dialog"></div>

@*<input type="file" name="file" webkitdirectory multiple/>*@

<script type="text/javascript">
    var qry = '@ViewBag.query';
    var FormView = {};
    var _UserID = '@Session["UserId"]';
    FormView.UserID = '@Session["UserId"]';
    FormView.URL = '@Session["URL"]';
    FormView.PlanoGramURL = '@Session["PlanoGramURL"]';
    var _screenName = "VehicleAssignmentList";
    var currentScreenName = _screenName;
    CurrentScreen_TabScreen_Name = _screenName;
    currentScreenName = 'VehicleAssignmentReportForm';
    windowPreparingToOpen(currentScreenName);
</script>




<div class="formContainer">
    <input id="savePath" type="file" webkitdirectory multiple style="display: none" />

    <div id="div_deliveryDate_Ok_Button" class="row" style="display: none;margin-left: 0px;">
        <div class="labeltext" style="width: 10%">
            <label id="FromLabelId">Delivery Date</label>
        </div>
        <div class="labeltext" style="width: 11%">
            <input type="text" id="DeliveryDate" readonly autocomplete="off" class="datepicker" />
        </div>



        @*<div class="labeltext" style="width: 1%">
            </div>*@
        <div class="labeltext sejDiv" style="display: none;width: 7%">
            <label id="CategoryLabelId">Category</label>
        </div>
        <div class="labeltext sejDiv" style="display: none;width: 10%;">
            <select id="CategoryId"></select>
        </div>

        <div class="labeltext" style="width: 0.5%">
        </div>
        <div class="labeltext" style="width: 3%">
            <button type="button" class="btn btn-default btn-sm" onclick="beforeGetVehicleData();GetVehicleData();" style="background-color: #f9f9f9">OK</button>
        </div>
       
        <div class="labeltext sejDiv1" style="display: none;width: 12%">
            <label id="TotalNoOrdersLabelId">Total No Orders:</label>
        </div>
        <div class="labeltext sejDiv1" style="display: none;width: 5%;">
            <input type="text" id="VHOrdNo" readonly autocomplete="off" />
        </div>
        <div class="labeltext sejDiv1" style="display: none;width: 10%">
            <label id="TotalNoQtyLabelId">Total No Qty:</label>
        </div>
        <div class="labeltext sejDiv1" style="display: none;width: 5%;">
            <input type="text" id="VHQty" readonly autocomplete="off" />
        </div>
        <div class="labeltext ToDateDiv" style="width: 10%;display:none">
            <label>To Date</label>
        </div>
        <div class="labeltext ToDateDiv" style="width: 15%;display:none">
            <input type="text" id="ToDeliveryDate" readonly autocomplete="off" class="datepicker" />
        </div>

        <div class="labeltext OrdNoDiv" style="width: 7%;display:none">
            <label>Order No</label>
        </div>
        <div class="labeltext OrdNoDiv" style="width: 15%;display:none">
            <input type="text" id="OrdNo" autocomplete="off" />
        </div>

        <div class="labeltext" style="width: 0.5%">
        </div>
        @*<div class="labeltext" style="width: 10%">
                <button type="button" class="btn btn-default btn-sm" onclick="beforeGetVehicleData();GetVehicleData();" style="background-color: #f9f9f9">OK</button>
            </div>*@

        <div class="labeltext sejDiv" style="display: none;width: 3%">
            <button type="button" class="btn btn-default btn-sm" onclick="VHRefresh();" style="background-color: #f9f9f9">Ref</button>
        </div>

        <div class="labeltext sejDiv" style="display: none;width: 5%">
            <label id="OrdNoLabelId">OrdNo:</label>
        </div>
        <div class="labeltext sejDiv" style="display: none;width: 10%;">
            <input type="text" id="OrdNoSearch" autocomplete="off" />
        </div>
        <div class="labeltext" style="width: 0.5%">
        </div>
        <div class="labeltext sejDiv" style="display: none;width: 2%">
            <button type="button" class="btn btn-default btn-sm" onclick="OrdNoSearch();" style="background-color: #f9f9f9">Search</button>
        </div>
    </div>

    <div id="LoadingImg" style="display:none;"></div>

    <div style="width: 100%">
        <div id="VehicleAssignmentId"></div>

    </div>

</div>
<p id="info"></p>
<script src="~/Scripts/Main/VehicleAssignment.js?v=1.7.4"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/FormViewList.css" rel="stylesheet" />


@*<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/FormViewList.css" rel="stylesheet" />*@

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
@* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
@* <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>*@
@*<script src="https://code.jquery.com/jquery-2.2.4.js"></script>*@


@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
@*<script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyC5XH-ALvr81IiuEDWekI2k91ujPeZL864"></script>*@
<script>
    //alert("<script src=\"https://maps.googleapis.com/maps/api/js?sensor=false&key=" + '@ViewBag.Google_APIKey' + "\" ><\/script>");
    @*document.write("<script src=\"https://maps.googleapis.com/maps/api/js?sensor=false&key=" + '@ViewBag.Google_APIKey' + "\" ><\/script>");*@
</script>

@*<script src="~/Scripts/Main/FormViewListcshtml.js?v=1.7.2"></script>*@
@section Scripts{
    <script type="text/javascript">
        var isVehicleAssignment = true;

        //if (ProjectName.toLowerCase() == "laponie") {
        //    $('#FromLabelId').text("From Date");
        //    $('.ToDateDiv').show();
        //}
        if (ProjectName.toLowerCase() == "ywf") {
            $('.OrdNoDiv').show();
        }
       
        if (ProjectName.toLowerCase() == "sej" ) {
            //$('.sejDiv').show();
            $('.sejDiv1').show();
        }
        
         
        var format = 'mm/dd/yy';
        var qry = "select DateFormatString, TimeFormatString, DateTimeFormatString from system";
        execute(qry);
        format = executeQry[0].DateFormatString.toLowerCase() == "dd/mm/yyyy" ? "dd/mm/yy" : "mm/dd/yy";
        _format = executeQry[0].DateFormatString;

        $(".datepicker").datepicker({
            //dateFormat: "dd/mm/yy",
            beforeShow: function () {
                setTimeout(function () {
                    $('.ui-datepicker').css('z-index', 99999999999999);
                }, 0);
            },
            dateFormat: format,
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+12",
            setDate: new Date()
        });

        $('#ui-datepicker-div').css("z-index", 9999);

        //if (ProjectName.toLowerCase() == "laponie") {
        //    $('#ToDeliveryDate').val(getCurrentDate())
        //}
        function zerofill(i) {
            return (i < 10 ? '0' : '') + i;
        }
        function getCurrentDate() {
            var dt = new Date();
            var dat = zerofill(dt.getDate()) + "/" + zerofill((dt.getMonth() + 1)) + "/" + dt.getFullYear();
            //var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
            return dat;//+ " " + time;
        }

    </script>

    <script type="text/javascript">
        $(function () {
            $('#dialog').dialog({
                autoOpen: false,
                width: "50%",
                resizable: false,
                title: 'Details',
                modal: true,
                closeOnEscape: true,
                open: function (event, ui) {
                },
                beforeClose: function (event, ui) {
                    $('#dialogHiddenId').show();
                },
                buttons: {
                    "Close": function () {
                        $('#dialog').dialog('close');
                    }
                }
            });
        });

        var url_VehicleAssignmentIndex = '@Url.Content("~/VehicleAssignment/Index/")';

        function VHRefresh() {
            //$('#DeliveryDate').val('');
            //$('#VHOrdNo').val('');
            //$('#VHQty').val('');
            //beforeGetVehicleData();
            //GetVehicleData();
            window.location = url_VehicleAssignmentIndex;//single parameter
        }

    </script>
}


<style>
    .w3-dropdown-content {
        min-width: 200px;
    }
</style>
@*loading, processing,downloading images*@
<style>
    #LoadingImg {
        background: #ffffff;
        color: #666666;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 5000;
        top: 0;
        left: 0;
        float: left;
        text-align: center;
        padding-top: 25%;
        opacity: .80;
    }

    .spinner {
        margin: 0 auto;
        height: 64px;
        width: 64px;
        animation: rotate 0.8s infinite linear;
        border: 5px solid firebrick;
        border-right-color: transparent;
        border-radius: 50%;
    }

    @@keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>




<style>
    .selected {
        /*background-color: red;*/
        font-weight: bold;
        color: #fff;
    }

    /*.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {*/
    a:hover {
        /*color: #555;*/
        /*background-color: #e7e7e7;*/
        background-color: midnightblue;
    }
</style>



